:root {
    --black: #18181b;
    --dark-gray: #3f3f46;
    --gray: #52525b;
    --light-gray: #71717a;
    --silver: #a1a1aa;
    --white: #f7fee7;
    --green: #aece63;
    --red: #ff7272;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--silver)

}

input[type="text"], 
input[type="tel"],
input[type="number"] {
    background-color: var(--light-gray);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    outline: none;
    height: 3rem;
    border-radius: 2rem;
    padding: 1rem;

}

label {
    background-color: var(--gray);
    border-radius: 7px;
    padding: 0rem 0.4rem;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    -webkit-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
}


ul {
    list-style-type: none;
}

button {
    border: none;
    color: var(--white);
    font-weight: 600;
    background-color: var(--light-gray);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    transition: all 0.2s;
}

button:active {
    transform: scale(1.02);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#page {
    height: 100vh;
    position: relative;
    color: var(--white);
    display: grid;
    grid-template-rows: 60px 1fr;
}

header {
    background-color: var(--gray);
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    -webkit-box-shadow: 0px 1px 16px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 1px 16px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 1px 16px 0px rgba(66, 68, 90, 1);
}

main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: max-content minmax(max-content, 250px);
    gap: 0.5rem;
    padding: 1vw;
}

.button-node {
    grid-column: 1 / -1;
    text-align: center;
}

.button-node button {
    font-weight: 600;
    font-size: 3rem;
    border-radius: 7px;
    -webkit-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -11px rgba(66, 68, 90, 1);
}

.book-node {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 7px;
    text-align: center;
    display: grid;
    gap: 0.5rem;
    font-size: 1.3rem;
    -webkit-box-shadow: 7px 10px 21px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 7px 10px 21px -5px rgba(66, 68, 90, 1);
    box-shadow: 7px 10px 21px -5px rgba(66, 68, 90, 1);
}

.book-node button {
    font-weight: 900;
    font-size: 1rem;
    border-radius: 7px;
}

.read-false {
    background-color: var(--red);
}

.read-true {
    background-color: var(--green)
}

#backdrop {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -60%);
    background-color: var(--dark-gray);
    border-radius: 1rem;
    padding: 2rem 1rem;
    width: min(500px, 90vw);
}

#form ul {
    display: grid;
    gap: 1.5rem;
}

#form li {
    display: flex;
    gap: 1rem;
    position: relative;
}

#form li * {
    flex: 1;
}

#form button {
    font-size: 1.3rem;
    padding: 0.8rem;
}

#form label:not(label[for="read"]) {
    position: absolute;
    top: -13px;
    left: 10px;
}
