:root {
    --black: #18181b;
    --dark-gray: #3f3f46;
    --gray: #52525b;
    --light-gray: #71717a;
    --silver: #a1a1aa;
    --white: #f7fee7;
}

body {
    background-color: var(--silver);
    height: 100vh;
}

input[type="text"], input[type="tel"] {
    background-color: var(--light-gray);
    border: none;
    outline: none;
    height: 2.5rem;
    width: 25rem;
    border-radius: 2rem;
}

label {
    color: var(--white)
}

ul {
    list-style-type: none;
}

button {
    border: none;
    color: inherit;
    background-color: var(--light-gray);
    padding: 0.5rem 1rem;
}

button:active {
    transform: scale(1.05);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


#page {
    position: relative;
    color: var(--white);
    display: grid;
    grid-template-areas: 
    "header header"
    "nav    main";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(max-content, 300px);
    gap: 1rem;
    padding: 1vw;
}

main > * {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 7px;
}

#add-button {
    font-size: 10rem;
}

.form-box {
    height: 100%;
    width: 100%;
}

#form-add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-add li {
    position: relative;
}

#form-add label:not(label[for="read"]) {
    position: absolute;
    top: -10px;
    left: 10px;
}
